@model List<CustomerCabinetDemo.Models.Supplier>

@{
    ViewBag.Title = "База компаний";
}

@section Scripts{
<script src="~/scripts/Utilits/dataTableFunc.js"></script>
}

<div class="row">
    <table id="auctionlist" class="display" hidden width="100%">
        <thead>
            <tr>
                <th>НАИМЕНОВАНИЕ</th>
                <th>БИН</th>
                <th>ТЕЛЕФОНЫ</th>
                <th>E-MAIL</th>
                <th>АДРЕС</th>
                <th>КОМ.ПРЕД.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td><a href="Details?name=@item.name">@item.name</a></td>
                    <td>@item.bin</td>
                    <td>@item.telephones</td>
                    <td>@item.email</td>
                    <td>@item.address</td>
                    <td class="text-center"><a href="~/Resources/Files/Commercial.docx"><i class="fi-save"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <br>
</div>