@model IEnumerable<CustomerCabinetDemo.Models.Auction>

@{
    ViewBag.Title = "Перечень прошедших";
}

@section Scripts{
<script src="~/scripts/Utilits/dataTableFunc.js"></script>
}

<br />
@using(Html.BeginForm()) {
    <div class="row">
        <div class="small-1 columns">
            <label for="dateFrom" class="left inline">Дата от:</label>
        </div>
        <div class="small-3 columns">
            <input type="date" name="dateF" id="dateFrom" value="2016-01-01" />
        </div>
        <div class="small-1 columns">
            <label for="dateTo" class="left inline">Дата по:</label>
        </div>
        <div class="small-3 columns">
            <input type="date" name="dateT" id="dateTo" value="2016-12-31" />
        </div>
        <div class="small-4 columns right">
            <input type="submit" value="Установить диапазон" class="button small round" />
        </div>
    </div>
    <br />
}

<div class="row">
    <table id="auctionlist" class="display" hidden width="100%">
        <thead>
            <tr>
                <th>ДАТА АУКЦИОНА</th>
                <th>НОМЕР</th>
                <th>СТАТУС</th>
                <th>НАИМЕНОВАНИЕ ТОВАРА</th>
                <th>СТАРТОВАЯ ЦЕНА</th>
                <th>ФИНАЛЬНАЯ СТАВКА</th>
                <th>КОЛ-ВО</th>
                <th>ПОБЕДИТЕЛЬ</th>
                <th>ФАЙЛ ОТЧЕТА</th>
                <th>ФАЙЛ ПРОТОКОЛА</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td>@item.auctionDate.ToShortDateString()</td>
                    <td><a href="Details?auctionNumber=@item.number">@item.number</a></td>
                    @if(item.status == true) {
                        <td>Состоялся</td>
                    } else {
                        <td>Ожидается</td>
                    }
                    <td>@item.lotName</td>
                    <td>@Math.Round(item.startPrice, 2)</td>
                    <td>@Math.Round(item.startPrice - item.startPrice / 100 * 4, 2)</td>
                    <td>@item.lotName.Length</td>
                    <td>@item.winner</td>
                    <td class="text-center"><a href="~/Resources/Files/CustomerReport.docx"><i class="fi-save"></i></a></td>
                    <td class="text-center"><a href="~/Resources/Files/Protocol.pdf"><i class="fi-save"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
    <br>

    <a href="Export?exportType=2" class="indexbtn">Экспортировать в Excel <i class="fi-page-export-csv"></i></a>
</div>