@model IEnumerable<PolymetalCabinet.Models.CommercialOffer>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table" style="width: 100%;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <a href="@item.file">Скачать</a>
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.id }) |
            @Html.ActionLink("Просмотреть", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
