@model List<CustomerCabinetDemo.Models.Supplier>

@{
    ViewBag.Title = "Лучшие поставщики в разрезе товаров";
}

@section Scripts{
    <script src="~/scripts/Utilits/dataTableFunc.js"></script>
    <script>
        $(function () {
            var availableTags = [
              "Смазка", "Канат", "Фильтр", "Термопары", "Кольца", "Изделия из ПВХ", "Инструмент", "Электроды", "Сварочное оборудование", "Осушитель",
            "Сетка", "Вафельное полотно", "Сторительные материалы", "Электростанция", "Дизельное топливо", "Кронциркуль", "Метизы", "Противопожарное оборудование", "Запасные части", "Огнетушители",
            "Вкладыш", "Поглотители", "Химические средства", "Электрооборудование", "Кабели", "Чистящие средства", "Перчатки", "Обувь",
            "Масло", "Изоляция", "Лакокрасочная продукция", "Лента антискольжения", "Трубы", "Вал промежуточный", "Плиты", "Порошки",
            "Сода", "Подшипники", "Переналадки", "Гипохлорид кальция", "Аппараты"
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });

    </script>
}

@using(Html.BeginForm()) {
    <div class="row">
        <div class="small-4 columns">
            <label for="tags" class="right inline">Введите наименование товара:</label>
        </div>
        <div class="small-4 columns">
            @Html.TextBox("key", null, new { id = "tags" })
        </div>
        <div class="small-4 columns">
            <input type="submit" value="Найти" class="button small round" />
        </div>
    </div>
    <br />
}

<div class="row">
    <table id="auctionlist" class="display" hidden width="100%">
        <thead>
            <tr>
                <th>НАИМЕНОВАНИЕ ПОСТАВЩИКА</th>
                <th>НАИМЕНОВАНИЕ ТОВАРА</th>
                <th>КОНТАКТЫ</th>
                <th>E-MAIL</th>
                <th>АДРЕС</th>
                <th>КОМ.ПРЕД.</th>
            </tr>
        </thead>
        <tbody>
@foreach(var item in Model) {
            <tr>
                    <td>@Html.ActionLink(item.name, "Details", "Suppliers", new { name = item.name }, null)</td>
                    <td>@item.goods[0].name</td>
                    <td>@item.telephones</td>
                    <td>@item.email</td>
                    <td>@item.address</td>
                    <td><a href="#">Скачать</a></td>
            </tr>
}
        </tbody>
    </table>
    <br>
</div>