@model CustomerCabinetDemo.Models.Supplier

@{
    ViewBag.Title = "Ключевой поставщик по товару";
}

@section Scripts{
    <script src="~/scripts/Utilits/dataTableFunc.js"></script>
    <script>
        $(function () {
            var availableTags = [
              "Смазка", "Канат", "Фильтр", "Термопары", "Кольца", "Изделия из ПВХ", "Инструмент", "Электроды", "Сварочное оборудование", "Осушитель",
            "Сетка", "Вафельное полотно", "Сторительные материалы", "Электростанция", "Дизельное топливо", "Кронциркуль", "Метизы", "Противопожарное оборудование", "Запасные части", "Огнетушители",
            "Вкладыш", "Поглотители", "Химические средства", "Электрооборудование", "Кабели", "Чистящие средства", "Перчатки", "Обувь",
            "Масло", "Изоляция", "Лакокрасочная продукция", "Лента антискольжения", "Трубы", "Вал промежуточный", "Плиты", "Порошки",
            "Сода", "Подшипники", "Переналадки", "Гипохлорид кальция", "Аппараты"
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });

    </script>
}

@using(Html.BeginForm()) {
    <div class="row">
        <div class="small-4 columns">
            <label for="tags" class="right inline">Введите наименование товара:</label>
        </div>
        <div class="small-4 columns">
            @Html.TextBox("key", null, new { id = "tags" })
        </div>
        <div class="small-4 columns">
            <input type="submit" value="Найти" class="button small round" />
        </div>
    </div>
    <br />
}

<div class="row text-center">
    <h4 style="color:gray">Наибольшое количество побед по данному товару у поставщика</h4>
</div>
<br />

<div class="row">
    <table id="auctionlist" class="display" hidden width="100%">
        <thead>
            <tr>
                <th>НАИМЕНОВАНИЕ</th>
                <th>БИН</th>
                <th>КОНТАКТЫ</th>
                <th>E-MAIL</th>
                <th>АДРЕС</th>
                <th>КОМ.ПРЕД.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.ActionLink(Model.name == null ? "1" : Model.name, "Details", "Suppliers", new { name = Model.name == null ? "1" : Model.name }, null)</td>
                <td>@Model.bin</td>
                <td>@Model.telephones</td>
                <td>@Model.email</td>
                <td>@Model.address</td>
                <td><a href="#">Скачать</a></td>
            </tr>
        </tbody>
    </table>
    <br>
</div>