@model List<AltaBO.Order>

@{
    ViewBag.Title = "Список завершенных аукционов";
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#auctionlist').DataTable({
                order: [[0, 'desc']],
                language: {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria": {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            });
            $('#auctionlist').show();
            $('#auctionlist').removeAttr("hidden");
        });
    </script>
}

<div class="row text-center">
    <img src="~/Resources/Images/endedAuctions.jpg" style="height:100px" />
</div>

@*<div class="row text-center">
    <a href="GetProtocolFiles?exportType=1" class="indexbtn">Скачать протокола <i class="fi-page-export-csv"></i></a>
</div>*@

<div class="row">
    <table id="auctionlist" class="display" hidden>
        <thead>
            <tr>
                <th hidden>Id</th>
                <th>ДАТА АУКЦИОНА</th>
                <th>НОМЕР</th>
                <th>СТАТУС</th>
                <th>НАИМЕНОВАНИЕ ТОВАРА</th>
                <th>СТАРТОВАЯ СУММА</th>

                <th>СУММА ВЫИГРЫША</th>
                <th>ЭКОНОМИЯ</th>
                <th>ПОБЕДИТЕЛЬ</th>

                <th>ФАЙЛ ОТЧЕТА</th>
                <!--<th>ФАЙЛ ПРОТОКОЛА</th>-->
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model) {
                <tr>
                    <td hidden>@item.Auction.Id</td>
                    <td>@item.Auction.Date.ToShortDateString()</td>
                    <td><a href="AuctionDetails?auctionId=@item.Auction.Id">@item.Auction.Number</a></td>
                    <td>@item.Auction.Status</td>
                    <td>@item.Auction.Lots[0].Name</td>
                    <td>@Math.Round(item.Auction.Lots[0].Sum, 2)</td>

                    @if(item.Auction.StatusId != 3) {
                        <td>@Math.Round(item.Auction.Procuratories[0].MinimalPrice, 2)</td>
                        <td>@Math.Round((item.Auction.Lots[0].Sum - item.Auction.Procuratories[0].MinimalPrice), 2)</td>
                        <td>@item.Auction.Procuratories[0].SupplierName</td>
                        <td class="text-center">
                            @if(item.Auction.Status.Contains("Состоялся")) {
                                <a href="GetReportFile?auctionDate=@item.Auction.Date.ToShortDateString()&auctionNumber=@item.Auction.Number"><i class="fi-save"></i></a>
                            }
                        </td>
                        @*<td class="text-center">
                                @if(item.Auction.Status.Contains("Состоялся")) {
                                    <a href="GetProtocolFile?auctionDate=@item.Auction.Date.ToShortDateString()&auctionNumber=@item.Auction.Number"><i class="fi-save"></i></a>
                                }
                            </td>*@
                    } else {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <br>

    @*<a href="Export?exportType=2" class="indexbtn">Экспортировать в Excel <i class="fi-page-export-csv"></i></a>*@
</div>