@using AuthorizationCenter.Models

@{
    ViewBag.Title = "Добро пожаловать. Авторизуйтесь";
}

@model FormLogin

@section head {
    @Styles.Render("~/content/views/login.css")
}

<div class="medium-offset-2 medium-8 columns form-login">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        <div class="row">
            <div class="column medium-offset-4 medium-4">
                <div class="row">
                    <div class="text-center">
                        <img id="form_login_image" src="@Url.Content("~/Resources/images/ic_launcher.png")" />
                    </div>
                    @if (!String.IsNullOrEmpty(Model.errorMessage))
                {
                        <div data-alert class="alert-box warning radius">
                            @Model.errorMessage
                            <a href="#" class="close">&times;</a>
                        </div>
                    }
                    <div>
                        <label>
                            Логин
                            @Html.TextBoxFor(m => m.login)
                        </label>
                    </div>
                    <div>
                        <label>
                            Пароль
                            @Html.PasswordFor(m => m.pass)
                        </label>
                    </div>
                    <div class="row">
                        <div class="large-2 medium-3 small-5 columns">
                            <div class="switch tiny round">
                                <input id="remembeMe" type="checkbox" name="remembeMe">
                                <label class="switch-paddle" for="remembeMe"></label>
                            </div>
                        </div>
                        <div class="large-10 medium-9 small-7 columns">
                            <label for="remembeMe">Запомнить</label>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.ReturnUrl)
                    <div class="text-center">
                        <div>
                            <button type="submit">Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="medium-2 columns form-description">
    <div>
        <p>Если Вы ещё не зарегистрированы.</p>
        <br/>
        <p>Свяжитесь с нами по телефону: <b>+7&nbsp;(727)&nbsp;390&nbsp;43&nbsp;02</b></p>
    </div>
</div>
